*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head{
    height: 0;
    margin: 0;
    font-size: 60px;
    padding-left: 120px;
    font-family: fantasy;
    text-shadow: 4px 4px lightgray;
    color: rgb(81, 74, 74);
}

#calc{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: start;
    padding-left: 25%;
    align-items: center;
    background-image: url(Images/background.jpg);
}

#content{
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px gray;

}

#content form input{
    border: 0;
    outline: 0;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    font-size: 15px;
    margin: 10px;
    cursor: pointer;
}

#res {
    padding: 10px;
}

#backspace{
    background-color: gray;
    color: white;
}

#dot{
    background-color: gray;
    color: white;
}

#mul{
    background-color: gray;
    color: white;
}

#div{
    background-color: gray;
    color: white;
}

#sub{
    background-color: gray;
    color: white;
}

#add{
    background-color: gray;
    color: white;
}

#equal{
    background-color: gray;
    color: white;
}

#clear{
    background-color: gray;
    color: white;
}

form #output{
    display: flex;
    justify-content: flex-end;
    margin: 15px 0;
}

form #output input{
    text-align: right;
    flex: 1;
    font-size: 25px;
}

@media screen and (min-width: 624px) {
    body {
        font-size: 18px;
    }
}